---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!-- todo
 remove webp for blog-placeholder images (avif)? or are both needed -> then add webp for logo-2 -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>	
			<section>
				<div class="model-container"> <!-- align="center" -->
					<!-- other attributes: poster = webp file  ar  ar-status="not-presenting" auto-rotate orbit-sensitivity="number"with-credentials="true" -->
					<model-viewer
						id="model_1"
						src="/models/m13D.glb"
						poster="/images/m1frameKopieHEIF.heic"
						min-camera-orbit="auto 0deg auto"
						max-camera-orbit="auto 180deg auto" 
						interaction-prompt="auto"
						interaction-prompt-threshold="2000"
						shadow-intensity="1"
						camera-controls
						reveal="manual"
						disable-zoom
						alt="3d model of a framed rendering"
					>	
						<div class="progress-bar hide" slot="progress-bar">
							<div class="update-bar"></div>
						</div>
						<div class="loadButtonContainer" slot="progress-bar">
							<button class="loadButton">Load 3D Model</div>
						</div>
					  </div>
	
					</model-viewer>
				</div>
			</section>
			<script>
				// Function to update the progress bar based on the model loading progress
				const onProgress = (event: Event) => {
				  if (!progressBarElement || !updatingBarElement) return;

				  const percentProgress = (event as CustomEvent).detail?.totalProgress ?? 0;
				  const percentComplete = percentProgress * 100;
				  (updatingBarElement as HTMLElement).style.width = `${percentComplete}%`;
				  (updatingBarElement as HTMLElement).style.width = `${percentComplete}%`;
					
				  if (percentProgress == 1) {
					setTimeout(() => {
						progressBarElement.classList.add('hide');
					}, 300);
				  };
				}; 

				const progressBarElement = document.querySelector('.progress-bar'); // Use a more specific ID or class if needed
				const updatingBarElement = document.querySelector('.update-bar');
				const modelElement = document.querySelector('#model_1');

				function initializeLoadingBar() {
					if (progressBarElement && updatingBarElement) {
						(updatingBarElement as HTMLElement).style.width = '0%';
						progressBarElement.classList.remove('hide'); 
					}
				}
 				
 				if (modelElement) {				
				const loadButton = document.querySelector('.loadButton');
				const loadButtonContainer = document.querySelector('.loadButtonContainer');
				if(loadButton) {
					loadButton.addEventListener('click', () => {
						if (modelElement) {
							(modelElement as any).dismissPoster();
							initializeLoadingBar();
							modelElement.addEventListener('progress', onProgress);
							loadButton.classList.add('hide');
						}
						if (loadButtonContainer) {
							loadButtonContainer.classList.add('hide');
						}
					}); 
				}
				}
			</script>
 			<script> import '@google/model-viewer'</script> 
		</main>
		<Footer />
	</body>
</html>
<style>
			main {
				width: 960px;
			}
			div.model-container {  
				box-sizing: border-box; 
				text-align: -webkit-center; 
			/* 	min-height: 300px;
				min-width: 300px;
				display: flex;
				justify-content: center;
				margin: 6em; */
			}
			model-viewer {
				display: block;
				width: 100vw;
				height: 100vw;
				max-width: 600px;
				max-height: 600px;
			}
			/* This keeps child nodes hidden while the element loads, except the poster */
			:not(:defined) > :not(.poster) {
				display: none;
			}
			:defined > .poster > .pre-prompt {
				display: none;
			}

			.loadButtonContainer {
				display: block;
				width: 33%;
				height: 10%;
				max-height: 2%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate3d(-50%,-50%,0);
				border-radius: 25px;
			}

			/* This CSS should always be used at minimum for any slotted poster */
			.poster {
				display: flex;
				justify-content: center;
				align-items: center; 
				height: 100%;
				top: 0;
				left: 0;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			@keyframes wiggle {	
				10%, 12% { transform: translateX(-25px); }	 
				30%, 32% { transform: translateX(25px); }	
				0%, 45%, 100% { transform: translateX(0%); }
			}	
			@keyframes fade {	
				5%, 40% { opacity: 1; }	
				0%, 45%, 100% {	opacity: 0; }	 
			}
			.pre-prompt {
				pointer-events: none;
				animation-name: wiggle, fade;
				animation-duration: 5s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}

			.progress-bar {
				display: block;
				width: 33%;
				height: 10%;
				max-height: 2%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate3d(-50%, -50%, 0);
				border-radius: 25px;
				box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
				border: 1px solid rgba(255, 255, 255, 0.9);
				background-color: rgba(0, 0, 0, 0.5);
			}
		
			.progress-bar.hide {
				visibility: hidden;
			}

			.loadButtonContainer.hide {
				visibility: hidden;
			}

			.loadButton {
				background: linear-gradient(135deg, #ff7e5f, #feb47b);
				color: white;
				border: none;
				padding: 10px 20px;
				font-size: 1rem;
				font-weight: bold;
				border-radius: 25px;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				transition: transform 0.2s, box-shadow 0.2s;
			}

			.loadButton:hover {
				cursor: pointer;
				transform: scale(1.05);
				box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
			}

			.loadButton:active {
				transform: scale(0.95);
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			}

			.loadButton.hide {
				visibility: hidden;
			}
		
			.update-bar {
				background-color: rgba(255, 255, 255, 0.9);
				width: 0%;
				height: 100%;
				border-radius: 25px;
				float: left;
				transition: width 0.3s;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
