---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import PlayCanvasViewer from '../components/PlayCanvasViewer.astro';
---

<!-- todo
 remove webp for blog-placeholder images (avif)? or are both needed -> then add webp for logo-2 
 Also, optionally add a poster: poster="/images/m1frame.webp" -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<PlayCanvasViewer />
		<main>	
			<section>
				<h2>About This Artwork</h2>
				<!-- <InteractiveModel
					lightSrc="models/modernart1-sculpt-1.glb"
					darkSrc='models/versuchA.glb'
					alt="3D model of an artwork by Noartroom"
				/> -->
			</section>
			
		</main>
		<Footer />
	</body>
</html>
<style>
	main {
		width: 720px; /* 960 ? */
		max-width: calc(100% - 2em);
		margin: auto;
		padding-top: 2rem; /* space between header and main content */
	}
			/* Styles for blog content - currently unused */

			/* ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			} */
</style>
