---
import { Image } from 'astro:assets';
import logo from './src/assets/icons/logo.webp';
---
<a href="/">
  <Image alt="Blog Logo" src={logo} width="75" height="50" />
</a>
<!-- todo: logo padding and testing under all screen sizes -->