---
import { Image } from 'astro:assets';
import logo from 'icons/logo.webp';
---
<a href="/blog">
  <Image alt="Logo" src={logo} width="75" height="50" />
</a>
<!-- todo: logo padding and testing under all screen sizes -->