---
import { Image } from 'astro:assets';
import logo from './public/images/logo.webp';
---
<a href="/">
  <Image width={75} height={50} src={logo} alt="Logo" format="webp" loading="eager" />
  <!-- <img alt="Logo" src="images/logo.webp" width="75" height="50" /> -->
</a>
<!-- todo: logo refactor with astro optimization and add padding and testing  -->